<!DOCTYPE html>
<html>
<head>
	<title>Postage Rates</title>
</head>
<body>
	<h1>Postage Rates</h1>
	<p>The cost of mailing your <%= mailType %> item, weighing <%= weight %> oz. is: <%= result %></p>
</body>
</html>